@model List<ViewVendaModel>
@{
    ViewData["Title"] = "Listagem de Vendas";
}
<div class="text-center">
    <h1>Listagem de Vendas</h1>

    @*<div>
        <h2>Pesquise por um venda específico</h2>
        <div>
            <input type="text" class="form-control" id="inputPesquisarNome" placeholder="Digite o nome">
            <button type="submit" class="btn btn-primary" onclick="BtnPesquisarUsuario()">Pesquisar</button>
        </div>
    </div>*@

    <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome Cliente</th>
              <th scope="col">Descrição Produto</th>
              <th scope="col">Quantidade Produtos</th>
              <th scope="col">Valor Unitário</th>
              <th scope="col">Valor Total Venda</th>
              <th scope="col">Data da Venda</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ViewVendaModel venda in Model)
                {
                    <tr>
                        <th scope="row">@venda.IdVenda</th>
                        <td>@venda.NomeCliente</td>
                        <td>@venda.DscProduto</td>
                        <td>@venda.QtdVenda</td>
                        <td>@venda.VlrUnitarioVenda</td>
                        <td>@venda.VlrTotalVenda</td>
                        <td>@venda.DataVenda</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@venda.IdVenda" asp-controller="Venda" asp-action="EditarVenda">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@venda.IdVenda" asp-controller="Venda" asp-action="DeletarVenda">Remover</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div>
        <a class="btn btn-success" role="button" asp-controller="Venda" asp-action="CriarVenda">Adicionar nova Venda</a>
    </div>
</div>
</html>